@{
    ViewBag.Title = "Home Page";

}
@model CCS.ViewModels.HomeViewModel

<html>
<head>
    <script type="text/javascript">
        function on_click(_link) {
            localStorage.setItem("link", _link);
            window.location.href = '@Url.Action("Trailer", "Home")';
        }
         function on_chosen_movie(_show) {
             localStorage.setItem("show", JSON.stringify(_show));
            window.location.href = '@Url.Action("Tickets", "Home")';
        }
    </script>
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Movies List</h1>

    </div>
    <div class="row">
        <div class="col-md">
            <input type="button" value="Monday" class="btn-dark" />
        </div>
        <div class="col-md">
            <input type="button" value="Thuesday" class="btn-dark" />
        </div>
        <div class="col-md">
            <input type="button" value="Wednesday" class="btn-dark" />
        </div>
        <div class="col-md">
            <input type="button" value="Thursday" class="btn-dark" />
        </div>
        <div class="col-md">
            <input type="button" value="Friday" class="btn-dark" />
        </div>
        <div class="col-md">
            <input type="button" value="Saturday" class="btn-dark" />
        </div>
        <div class="col-md">
            <input type="button" value="Sunday" class="btn-dark" />
        </div>
    </div>
    <div class="text-center">
        <p><br> Movies played on the chosen day </p>
    </div>
    <ul class="list-group">
        @foreach (var show in Model.Shows)
        {
            <li class="list-group-item">
                <img class="float-left" src="~/Content/photos/inception.jpg" style="height: 200px;" />
                <p>
                    <h1>&emsp; @show.Title</h1>
                    <a>Screening hour: @show.Movie_hour</a><br />
                    <a>Genre: @show.Genre</a><br />
                    <a>
                        @*&emsp;*@
                        @show.Description
                    </a><br />
                </p>
                <div class="float-right">
                    <input type="button" value="Watch Trailer" class="btn-outline-dark"
                           onclick="on_click('@show.Trailer')" />
                </div>
                <br />
                <br />
                <input type="button" value="Reserve tickets" class="btn-outline-dark"
                       onclick="on_chosen_movie({
                           schedule_id: @show.Schedule_id,
                           movie_date: @show.Movie_date,
                           movie_hour: '@show.Movie_hour',
                           parking_zone: '@show.Parking_zone',
                           capacity: @show.Capacity,
                           reserved_spots: @show.Reserved_spots,
                           title: '@show.Title',
                           price_per_seat: @show.Price_per_spot})" />
            </li>
        }
    </ul>
</body>
</html>
