@{
    ViewBag.Title = "Home Page";

}
@model CCS.ViewModels.MovieListViewModel

<html>
<head>
    <script type="text/javascript">
        function on_click(_link) {
            localStorage.setItem("link", _link);
            window.location.href = '@Url.Action("Trailer", "Home")';
        }
         function on_chosen_movie(_movie) {
             localStorage.setItem("movie", JSON.stringify(_movie));
            window.location.href = '@Url.Action("Tickets", "Home")';
        }
    </script>
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">Movies List</h1>

    </div>
    <div class="row">
        <div class="col-md">
            <input type="button" value="Monday" class="btn-dark" />
        </div>
        <div class="col-md">
            <input type="button" value="Thuesday" class="btn-dark" />
        </div>
        <div class="col-md">
            <input type="button" value="Wednesday" class="btn-dark" />
        </div>
        <div class="col-md">
            <input type="button" value="Thursday" class="btn-dark" />
        </div>
        <div class="col-md">
            <input type="button" value="Friday" class="btn-dark" />
        </div>
        <div class="col-md">
            <input type="button" value="Saturday" class="btn-dark" />
        </div>
        <div class="col-md">
            <input type="button" value="Sunday" class="btn-dark" />
        </div>
    </div>
    <div class="text-center">
        <p><br> Movies played on the chosen day </p>
    </div>
    <ul class="list-group">
        @foreach (var movie in Model.Movies)
        {
            <li class="list-group-item">
                <img class="float-left" src="~/Content/photos/inception.jpg" style="height: 300px;" />
                <p>
                    <h1>&emsp; @movie.title</h1>
                    <a>
                        &emsp;
                        @movie.description
                    </a><br />
                </p>
                <div class="float-right">
                    <input type="button" value="Watch Trailer" class="btn-outline-dark"
                           onclick="on_click('@movie.trailer')" />     

                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md">
                        <input type="button" value="12:00" class="btn-outline-dark"
                               onclick="on_chosen_movie()" />
                    </div>
                    <div class="col-md">
                        <input type="button" value="14:30" class="btn-outline-dark" disabled />
                    </div>
                    <div class="col-md">
                        <input type="button" value="18:00" class="btn-outline-dark"
                               onclick="on_chosen_movie()"/>
                    </div>
                    <div class="col-md">
                        <input type="button" value="21:30" class="btn-outline-dark"
                               onclick="on_chosen_movie()"/>
                    </div>
                </div>
            </li>
        }
    </ul>
</body>
</html>
